.image-container {
            position: fixed;
            /* Ensure the container is a positioning context */
            width: 100%;
            /* Adjust as needed */
            height: 100vh;
            /* Adjust as needed */
            overflow: hidden;
            /* Hide overflowing images */
            z-index: -10;
        }

        .image-container img {
            position: absolute;
            transition: width 0.2s, height 0.2s;
            /* Smooth transition for resizing */
            width: 100px;
            height: 100px;
            opacity: 10%;
        }